flows.json
[{"id":"ceed2bde.ff4de8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"9473d56a.d439c8","type":"serial in","z":"ceed2bde.ff4de8","name":"","serial":"b69a66ed.cfe588","x":150,"y":60,"wires":[["cb3a70f6.298b1"]]},{"id":"978b959a.9300e8","type":"debug","z":"ceed2bde.ff4de8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":60,"wires":[]},{"id":"b672e96b.5edd98","type":"change","z":"ceed2bde.ff4de8","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[["1cceccf0.4ac0d3"]]},{"id":"a6da570e.9f9bf8","type":"change","z":"ceed2bde.ff4de8","name":"lux","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[["35eb5a5.6b91ca6"]]},{"id":"cda769ba.5217d8","type":"change","z":"ceed2bde.ff4de8","name":"velo","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.velo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":240,"wires":[["b29eff5a.6a74b"]]},{"id":"1cceccf0.4ac0d3","type":"ui_gauge","z":"ceed2bde.ff4de8","name":"temp","group":"e337ddc6.f9207","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"200","colors":["#0036b3","#1be600","#ff0000"],"seg1":"30","seg2":"100","x":620,"y":120,"wires":[]},{"id":"35eb5a5.6b91ca6","type":"ui_gauge","z":"ceed2bde.ff4de8","name":"lux","group":"e337ddc6.f9207","order":1,"width":0,"height":0,"gtype":"donut","title":"Luminosidade","label":"Uv","format":"{{value}}","min":"1","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"500","x":620,"y":180,"wires":[]},{"id":"b29eff5a.6a74b","type":"ui_gauge","z":"ceed2bde.ff4de8","name":"velo","group":"e337ddc6.f9207","order":2,"width":0,"height":0,"gtype":"gage","title":"Velocidade","label":"Km/h","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#c70000"],"seg1":"35","seg2":"44","x":620,"y":240,"wires":[]},{"id":"cb3a70f6.298b1","type":"json","z":"ceed2bde.ff4de8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":60,"wires":[["978b959a.9300e8","b672e96b.5edd98","a6da570e.9f9bf8","cda769ba.5217d8"]]},{"id":"b69a66ed.cfe588","type":"serial-port","serialport":"COM12","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e337ddc6.f9207","type":"ui_group","name":"Estação Meteorológica ","tab":"7b9b9d9b.a484f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"7b9b9d9b.a484f4","type":"ui_tab","name":"Sensores - CP 4 ","icon":"dashboard","disabled":false,"hidden":false}]