flows.json
[{"id":"77491967.db3ee8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3e439d64.681d12","type":"serial in","z":"77491967.db3ee8","name":"","serial":"b69a66ed.cfe588","x":160,"y":80,"wires":[["65bb0ce9.d954c4"]]},{"id":"43dbaa5e.401594","type":"debug","z":"77491967.db3ee8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":80,"wires":[]},{"id":"81a6970a.3770e8","type":"change","z":"77491967.db3ee8","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":140,"wires":[["60b42833.d45cd8"]]},{"id":"aa38bf5a.054d2","type":"change","z":"77491967.db3ee8","name":"lux","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":200,"wires":[["e76f9279.76067"]]},{"id":"2e680e0c.bdff62","type":"change","z":"77491967.db3ee8","name":"velo","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.velo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":260,"wires":[["162648d1.78cfb7","2e448f75.d5a56"]]},{"id":"60b42833.d45cd8","type":"ui_gauge","z":"77491967.db3ee8","name":"temp","group":"e337ddc6.f9207","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"200","colors":["#0036b3","#1be600","#ff0000"],"seg1":"30","seg2":"100","x":630,"y":140,"wires":[]},{"id":"e76f9279.76067","type":"ui_gauge","z":"77491967.db3ee8","name":"lux","group":"e337ddc6.f9207","order":1,"width":0,"height":0,"gtype":"donut","title":"Luminosidade","label":"Uv","format":"{{value}}","min":"1","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"500","x":630,"y":200,"wires":[]},{"id":"162648d1.78cfb7","type":"ui_gauge","z":"77491967.db3ee8","name":"velo","group":"e337ddc6.f9207","order":2,"width":0,"height":0,"gtype":"gage","title":"Velocidade","label":"Km/h","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#c70000"],"seg1":"35","seg2":"44","x":630,"y":260,"wires":[]},{"id":"cde64b23.ae7118","type":"twitter out","z":"77491967.db3ee8","twitter":"","name":"Tweet","x":810,"y":480,"wires":[]},{"id":"3dd21825.997878","type":"debug","z":"77491967.db3ee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"2e448f75.d5a56","type":"switch","z":"77491967.db3ee8","name":"Teste","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":340,"wires":[["3dd21825.997878","3c0fb14f.a6c65e"]]},{"id":"5d73bf57.528b","type":"delay","z":"77491967.db3ee8","name":"","pauseType":"rate","timeout":"50","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"30","randomLast":"60","randomUnits":"seconds","drop":false,"x":740,"y":420,"wires":[["cde64b23.ae7118"]]},{"id":"3c0fb14f.a6c65e","type":"function","z":"77491967.db3ee8","name":"","func":"msg.payload= (msg.payload).toString();\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":420,"wires":[["5d73bf57.528b"]]},{"id":"65bb0ce9.d954c4","type":"json","z":"77491967.db3ee8","name":"","property":"payload","action":"","pretty":false,"x":320,"y":80,"wires":[["43dbaa5e.401594","81a6970a.3770e8","aa38bf5a.054d2","2e680e0c.bdff62"]]},{"id":"b69a66ed.cfe588","type":"serial-port","serialport":"COM12","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e337ddc6.f9207","type":"ui_group","name":"Estação Meteorológica ","tab":"7b9b9d9b.a484f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"7b9b9d9b.a484f4","type":"ui_tab","name":"Sensores - CP 4 ","icon":"dashboard","disabled":false,"hidden":false}]