flows.json
[{"id":"46cf87e8.9a9628","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"75a1316c.d2b1c","type":"serial in","z":"46cf87e8.9a9628","name":"","serial":"b69a66ed.cfe588","x":170,"y":80,"wires":[["1a1be2bf.349ebd"]]},{"id":"faca3c14.484bc","type":"debug","z":"46cf87e8.9a9628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":80,"wires":[]},{"id":"6850d3cf.0ee19c","type":"change","z":"46cf87e8.9a9628","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[[]]},{"id":"583bcd95.ea9a64","type":"change","z":"46cf87e8.9a9628","name":"lux","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[[]]},{"id":"d0cb53c1.6fe02","type":"change","z":"46cf87e8.9a9628","name":"velo","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.velo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[[]]},{"id":"1a1be2bf.349ebd","type":"json","z":"46cf87e8.9a9628","name":"","property":"payload","action":"","pretty":false,"x":330,"y":80,"wires":[["faca3c14.484bc","6850d3cf.0ee19c","583bcd95.ea9a64","d0cb53c1.6fe02"]]},{"id":"b69a66ed.cfe588","type":"serial-port","serialport":"COM12","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]